@import 'variables.scss';

@media screen and (min-width: 800px) {
	.what_we_do .items {
		flex-direction: row;
	}
}

@media screen and (max-width: 600px) {
	footer {
		.footer__logo {
			margin: 100px 40px;
		}

		.footer__links__container {
			flex-direction: column;
			align-items: center;
			margin-bottom: 100px;

			.footer__links {
				width: 100%;
				align-items: center;
				margin-bottom: 50px;

				&:last-child {
					margin-bottom: 0;
				}

				.link__header {
					text-align: center;
				}

				.links__container {
					align-items: center;
				}
			}
		}
	}
}

@media screen and (max-width: 450px) {
	footer {
		.footer__logo {
			margin: 50px 0;
			flex-direction: column;

			svg:nth-child(1) {
				margin-right: 0;
				margin-bottom: 5px;
			}

			svg:nth-child(2) {
				margin-top: 5px;
				margin-left: 0;
			}
		}
	}
}

@media screen and (max-width: 350px) {
	footer {
		.footer__links__container {
			margin-bottom: 100px;
		}
	}
}

@media screen and (max-width: 500px) {
	.projects_section .projects_container > span {
		font-size: 25px;
	}
}

@media screen and (max-width: 350px) {
	.projects_section .projects_container > span {
		font-size: 20px;
	}
}

@media screen and (max-width: 600px) {
	header .bgImage .logo {
		flex-direction: column;
		width: 60%;

		svg:nth-child(1) {
			margin-bottom: 10px;
			margin-right: 0;
		}

		svg:nth-child(2) {
			margin-top: 10px;
			margin-left: 0;
		}
	}
}

@media screen and (max-width: 768px) {
	body.lock {
		overflow: hidden;
	}

	nav {
		height: 100vh;
		padding-bottom: 50px;
		background-color: $mainGreen;
		transition: transform 0.8s ease;
		transform: translateY(0);

		&:not(.show) {
			transform: translateY(-100%);
		}
	}

	footer {
		height: 100vh;
	}
}

@media screen and (min-width: 769px) {
	#hamburger {
		display: none;
	}

	nav {
		margin-top: 45px;

		padding: 0 65px;

		justify-content: space-between;

		flex-direction: row;

		.logo {
			margin: 0;
			padding: 0;
			height: 36px;
			width: auto;
			min-height: initial;
			max-height: initial;
			min-width: initial;
			max-width: initial;

			cursor: pointer;

			> svg:nth-child(1) > path:nth-child(3) {
				fill: $mainGreen;
			}
		}

		ul {
			display: flex;
			align-items: center;
			justify-content: space-between;

			li {
				display: flex;
				justify-content: center;
				align-items: center;

				width: fit-content;
				margin-right: 25px;

				a {
					font-size: 17px;
					font-weight: 700;
					color: $mainBlack;
					text-align: center;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	header {
		height: 100vh;

		background-image: url(/img/headerBG_Desktop.png);
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;

		align-items: flex-start;

		.bgImage {
			display: none;
		}

		section {
			padding: 0 65px;

			align-items: flex-start;
		}
	}

	.what_we_do {
		padding-top: 120px;

		> span {
			max-width: 750px;
			font-size: 43px;
		}

		.items {
			.item {
				padding-top: 0;
			}
		}
	}

	.contact_us {
		justify-content: flex-start;

		> form {
			max-width: 750px;
		}
	}

	footer {
		flex-direction: row;
		justify-content: center;
		align-items: center;

		position: relative;

		padding-top: 100px;

		.footer__logo {
			align-self: flex-start;

			margin: 0;
			width: auto;
			max-height: 58px;
			min-height: initial;
			min-width: initial;
			max-width: initial;

			svg {
				width: auto;
				max-height: 58px;
				width: 100%;
			}
		}

		.footer__links__container {
			margin-bottom: 150px;

			.footer__links .links__container > span {
				margin-bottom: 25px;
			}
		}

		.footer__copyright {
			position: absolute;
			margin-bottom: 0;
			bottom: 50px;
			left: 0;
			right: 0;
		}
	}
}

@media screen and (max-width: 600px) {
	nav .logo {
		flex-direction: column;
		max-width: 80%;

		svg:nth-child(1) {
			margin-bottom: 10px;
			margin-right: 0;
		}

		svg:nth-child(2) {
			margin-top: 10px;
			margin-left: 0;
		}
	}
}

// @media screen and (min-width: 769px) {
// 	header .bgImage .logo,
// 	#hamburger {
// 		display: none;
// 	}

// 	header .bgImage {
// 		background-color: #fff;

// 		img {
// 			width: auto;
// 		}
// 	}

// 	nav {
// 		display: flex;

// 		.logo {
// 			max-height: 50px;
// 			width: auto;
// 		}
// 	}
// }
